@use '../abstracts/variables' as c;

button{
    background-color: #9d1010;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 800;
  margin-left: 10px;
  margin-top: 20px;
  padding: 5px 20px 5px 20px;
  text-transform: uppercase;
  transition-duration: 0.4s;
 }